{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block title1 %}
Новости
{% endblock title1 %}

{% block title2 %}
{% if Новости %}
<h1>Новостей: {{ Новости|length }}</h1>
{% else %}
<h1>Новостей: нет! Заходите позднее!</h1>
{% endif %}
{% endblock title2 %}
{% block content %}
{% for Новость in Новости %}
<br>
<hr>
<br>
{{ Новость.dateCreation|date:'d F Y' }}
<h4><a class="nav-link" href="/news/{{ Новость.id }}">{{ Новость.title|censor }}</a></h4>
<br>
{{ Новость.text|censor|truncatechars:20 }}
{% endfor %}
{% endblock content %}
